<div class="container">
  <h1>Welcome - Day 3</h1>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/actors">List of Actors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/posts">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/abcd">ABCD</a>
    </li>
  </ul>
  <!-- <app-actorlist></app-actorlist> -->
  <!-- <app-pipedemo></app-pipedemo> -->
  <!-- <app-observabledemo></app-observabledemo> -->
  <!-- <app-postdemo></app-postdemo> -->

  <router-outlet></router-outlet>

</div>
